body{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
/* ----------- My Form ----------- */
.myform{

    clear: left;
    line-height: 1.4em;
    margin: 3px 5px;
    padding: 3px 2px;



}

.myform p label {
    display: block;
    float: left;
    margin: 0;
    padding: 3px 13px 0 0;
    text-align: right;
    width: 140px;
}
